<div class="container-fluid d-flex">
  <div class="profile-details-wrapper">
    <button class="common-btn btn-fill" (click)="editProfile()">
      <mat-icon class="edit-profile">edit_square</mat-icon>
    </button>
    <mat-card class="default-font">
      <mat-card-content>
        <div class="nav-top d-flex align-center" [ngStyle]="{'background-image': 'url(' + profileBg + ')'}">
          <button aria-label="view profile" name="view profile" class="view-profile">
            <p class="profile__initals ani" *ngIf="!profileImg">{{ user.shortName}}</p>
            <img [src]="profileImg" *ngIf="profileImg" alt="profile image">
          </button>
          <div class="username-box">
            <div class="profile-details d-flex">
              <div class="user-details">
                <p class="name">{{ user.fullName}}</p>
                <p class="sub-details">Senior Developer</p>
              </div>
              <div class="divider"></div>
              <div class="user-details">
                <p class="name">Member Since</p>
                <p class="sub-details"> {{ user.createdAt | date }} </p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="profile-forms">
    <mat-card class="form-wrapper default-font">
      <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="profileForm" novalidate>
          <div class="d-flex width-100 mb-10">
            <div class="form-group">
              <label>First Name</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="First Name" formControlName="firstName">
              </mat-form-field>
            </div>
            <div class="form-group">
              <label>Last name</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Last name"  formControlName="lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex width-100 mb-10">
            <div class="form-group datepicker">
              <label>Date of birth</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Choose a date" [matDatepicker]="picker"  formControlName="dob">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex width-100 mb-10">
            <div class="form-group">
              <label>Mobile number</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Mobile number"  formControlName="mobileNo">
              </mat-form-field>
            </div>
            <div class="form-group">
              <label>Email</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Email"  formControlName="email">
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions align="end" class="card-actions">
        <button type="submit" class="common-btn btn-fill">Save</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="form-wrapper default-font change-password">
      <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex">
          <div class="form-group">
            <label>Current password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Current password">
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group">
            <label>New password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="New password">
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group">
            <label>Retype new password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Retype new password">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end" class="card-actions">
        <button type="submit" class="common-btn btn-fill">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #editProfileImagesDialog>
  <h2 mat-dialog-title> Change profile images </h2>
  <mat-dialog-content>
    <div class="upload-image-wrapper">
      <h3>Profile image upload</h3>
      <div class="image-wrapper d-flex align-center align-items">
        <input type="file" (change)="onFileSelected($event, 'profile')" #fileInput accept="image/*" name="browse" aria-label="browse" class="browse-input">
        <button tabindex="0" type="button" class="common-btn btn-text default-font" aria-label="browse" (click)="fileInput.click()">Browse or drag file here</button>
      </div>
      <label class="browse-image-label" *ngIf="selectedFile && selectedFile.name">Selected file: {{ selectedFile.name }}</label>
    </div>
    <div class="upload-image-wrapper">
      <h3>Profile background image upload</h3>
      <div class="image-wrapper d-flex align-center align-items">
        <input type="file" (change)="onFileSelected($event, 'profileBg')" #fileInput1 accept="image/*" name="browse" aria-label="browse" class="browse-input">
        <button tabindex="0" type="button" class="common-btn btn-text default-font" aria-label="browse" (click)="fileInput1.click()">Browse or drag file here</button>
      </div>      
      <label class="browse-image-label" *ngIf="selectedFileBg && selectedFileBg.name">Selected file: {{ selectedFile.name }}</label>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="common-btn btn-white" mat-dialog-close>Cancel</button>
    <button class="common-btn btn-fill" (click)="upload()">Save</button>
  </mat-dialog-actions>
</ng-template>