<div class="container-fluid d-flex">
  <div class="profile-details-wrapper">
    <mat-card class="default-font">
      <mat-card-content>
        <div class="nav-top d-flex align-center">
          <button aria-label="view profile" name="view profile" class="view-profile">
            <p class="profile__initals ani">{{ user.shortName}}</p>
          </button>
          <div class="username-box">
            <div class="profile-details d-flex">
              <div class="user-details">
                <p class="name">{{ user.fullName}}</p>
                <p class="sub-details">Senior Developer</p>
              </div>
              <div class="divider"></div>
              <div class="user-details">
                <p class="name">Member Since</p>
                <p class="sub-details">12th july, 2022</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="profile-forms">
    <mat-card class="form-wrapper default-font">
      <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="profileForm" novalidate>
          <div class="d-flex width-100 mb-10">
            <div class="form-group">
              <label>First Name</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="First Name" formControlName="firstName">
              </mat-form-field>
            </div>
            <div class="form-group">
              <label>Last name</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Last name"  formControlName="lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex width-100 mb-10">
            <div class="form-group datepicker">
              <label>Date of birth</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Choose a date" [matDatepicker]="picker"  formControlName="dob">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex width-100 mb-10">
            <div class="form-group">
              <label>Mobile number</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Mobile number"  formControlName="mobileNo">
              </mat-form-field>
            </div>
            <div class="form-group">
              <label>Email</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Email"  formControlName="email">
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions align="end" class="card-actions">
        <button type="submit" class="common-btn btn-fill">Save</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="form-wrapper default-font change-password">
      <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex">
          <div class="form-group">
            <label>Current password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Current password">
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group">
            <label>New password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="New password">
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group">
            <label>Retype new password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Retype new password">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end" class="card-actions">
        <button type="submit" class="common-btn btn-fill">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>