


::ng-deep .mat-step-header {
    overflow: visible !important; 
}

::ng-deep .mat-horizontal-stepper-header {
    overflow: visible  !important; 
}


::ng-deep .mat-step-icon   {
    border: 1px solid #007bff;
    height: 35px;
    width: 35px;
}

.display-none   {
    display: block;
}