<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row login-row">
              <div class="col-12">
                <div class="p-2">
                  <mat-stepper [orientation]="orientation" [linear]="isLinear" #stepper>
                    <ng-container *ngFor="let step of form.steps; let i = index">
                      <mat-step 
                        [class.custom-mat-step]="true" 
                        [class.mat-step-active]="stepper.selectedIndex === i"
                        [completed]="step.completed">
                         
                          
                        <ng-template matStepLabel *ngIf="i === 0" >
                          <!-- <span class="step-index">{{ i + 1 }}</span> -->
                          <span class="step-label" [ngClass]="{ 'display-none': i === 0 }">{{ step.title }}</span>
                        </ng-template>
                         
                        <div class="row p-4">
                          <div class="col-lg-{{ f.value.col }}" *ngFor="let f of step.fields | keys; index as i">
                            <app-field [field]="f.value" [key]="f.key"></app-field>
                          </div>
                        </div>
                        <button mat-button class="float-right mr-5 mb-5" (click)="goToNextStep(stepper, step)">Next</button>
                      </mat-step>
                    </ng-container>
                  </mat-stepper>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
