<mat-nav-list>
  <mat-nav-list>
    <mat-accordion>
      <mat-expansion-panel  *ngFor="let item of menu; let menuIndex = index" class="remove-accordion-spacing" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.label}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list >
          <mat-list-item *ngFor="let child of item.children; let childIndex = index" (click)="redirect(child)"> {{ child.label }} </mat-list-item>
    
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-nav-list>
</mat-nav-list>