<div class="pagination d-flex align-items-center justify-content-center">
    <div class="items-select d-flex align-items-center">            
       <label>Items per page</label>
       <mat-form-field  appearance="fill" class="d-flex select-field">
          <mat-select [(ngModel)]="perPage">
            <mat-option value="25">25</mat-option>
            <mat-option value="50">50</mat-option>
            <mat-option value="100">100</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="pagination-wrapper d-flex align-items-center">
      <button>
        <mat-icon class="icon">first_page</mat-icon>
      </button>
      <button>
        <mat-icon class="icon">chevron_left</mat-icon>
      </button>
      <ul class="page-list d-flex align-items-center">
        <li><button>1</button></li>
        <li class="active"><button>2</button></li>
        <li><button>3</button></li>
        <li><button>4</button></li>
      </ul>
      <button>
        <mat-icon class="icon">chevron_right</mat-icon>
      </button>
      <button>
        <mat-icon class="icon">last_page</mat-icon>
      </button>
    </div>
    <div class="pagination-details">
      <p>1 - 1 of 5</p>
    </div>
  </div>