<div class="chart-wrapper width-100">
  <mat-card class="chat-window padding-zero">
    <div class="list-header d-flex align-items">
      <div class="user-img d-flex align-items align-center">
        <!-- <img [src]="profileImg" *ngIf="profileImg" alt="profile image" class="profile-img"> -->
        <!-- <p class="profile__initals ani" *ngIf="!profileImg">{{ user.shortName}}</p> -->
      </div>
      <div class="user-details">
        <!-- <p class="profile__initals ani">{{ user.fullName }}</p> -->
      </div>
    </div>
    <div class="chat-messages d-flex">
      <div class=" chat-popup" *ngFor="let history of conversationHistory" [ngClass]="{'receive-msg': history.userId !== user._id , 'send-msg': history.userId === user._id }">
        <p>{{ history.text }}</p>
        <div class="d-flex time-wrapper w-100">
          <span class="time">9.30 am</span><span class="tick"><i class="fa-solid fa-check-double"></i></span>
        </div>
      </div>
      <!-- <div class="chat-popup receive-msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam ipsa, numquam exercitationem aliquid quam! Commodi quo, id officiis libero magni ratione perferendis dignissimos ea reprehenderit cupiditate doloribus? Ullam, voluptatem.</p>
        <div class="d-flex time-wrapper w-100">
          <span class="time">9.30 am</span><span class="tick"><i class="fa-solid fa-check-double"></i></span>
        </div>
      </div>
      <div class="chat-popup send-msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta fugit, neque qui ipsa eveniet culpa sapiente distinctio recusandae deserunt autem aut numquam, nesciunt possimus sequi commodi, laudantium tenetur tempore a!</p>
        <div class="d-flex time-wrapper w-100">
          <span class="time">9.30 am</span><span class="tick"><i class="fa-solid fa-check"></i></span>
        </div>
      </div> -->
    </div>
    <div class="send-input d-flex">
      <textarea cols="3" placeholder="Type a message" [(ngModel)] ="message"  ></textarea>
      <button class="common-btn btn-text">
        <i class="fa-regular fa-paper-plane" (click)="send()" ></i>
      </button>
    </div>
  </mat-card>
</div>
