<div class="row">
      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Transaction Analyzer</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-{{ f.value.col }}" *ngFor="let f of form | keys; index as i;">
                      <app-field [field]="f.value" [key]="f.key"></app-field>
                    </div>
                </div>
                <button class="btn btn-primary w-100" (click)="analyse()">
                    Analyse
                </button>
            </div>
            
        </div>
    </div>
    <div class="col-xl-8 col-lg-8">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Transaction Overview</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <app-chart-google class="shadow" [options]="chartOptions" [updateFlag]="updateFlag" (toParent)="getChild($event)" ></app-chart-google>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Goal Calculator</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <app-chart-google class="shadow" [options]="chartOptions2" [updateFlag]="updateFlag" (toParent)="getChild($event)" ></app-chart-google>
            </div>
        </div>
    </div>
</div>
