<form class="form-group row" [formGroup]="form">
    <label class="col-md-3 form-control-label" [attr.for]="field.label">
      {{field.label}}
      <strong class="text-danger" *ngIf="field.required">*</strong>
    </label>
    <div class="col-md-9" [ngSwitch]="field.type">
      <app-field-input *ngSwitchCase="'text'" [field]="field" [form]="form"></app-field-input>
      <app-field-dropdown *ngSwitchCase="'dropdown'" [field]="field" [form]="form"></app-field-dropdown>
      <app-field-radio *ngSwitchCase="'radio'" [field]="field" [form]="form"></app-field-radio>
      <app-field-checkbox *ngSwitchCase="'checkbox'" [field]="field" [form]="form"></app-field-checkbox>
      <app-field-file *ngSwitchCase="'file'" [field]="field" [form]="form"></app-field-file>
      
      <div class="alert alert-danger my-1 p-2 fadeInDown animated" *ngIf="!isValid && isDirty">{{field.label}} is required</div>
    </div>
  </form>