<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Future Value / inflation Calculator</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="text" class="form-control" id="amount" placeholder="Enter amount"
                                [(ngModel)]="form.amount.value" />
                            <div class="mt-1 text-l text-primary">{{ form.amount.value || 0 | numberToWords }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="rate">Rate of Return (p.a)</label>
                            <input type="text" class="form-control" id="rate" placeholder="Enter rate"
                                [(ngModel)]="form.rate.value" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tenure">Tenure (In-Years)</label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                                [(ngModel)]="form.tenure.value" />
                        </div>
                    </div>
                </div>
           
                <button class="btn btn-primary w-100" (click)="calculate()">
                    Calculate
                </button>
            </div>
        </div>
        <div class="card border-left-primary shadow mb-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                            Increased Value
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                            {{ this.form.increasedValue.value || 0 | indianNumberFormat }}
                        </div>
                        <div class="text-xs mb-0 font-weight-bold text-gray-800">
                            {{ this.form.increasedValue.value || 0 | numberToWords }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-left-primary shadow mb-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                            Future Value
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                            {{ this.form.futureValue.value || 0 | indianNumberFormat }}
                        </div>
                        <div class="text-xs mb-0 font-weight-bold text-gray-800">
                            {{ this.form.futureValue.value || 0 | numberToWords }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Future Value / Inflation Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <app-chart [options]="pieChartOptions" [updateFlag]="updateFlag"></app-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        
    </div>
     
   
</div>
