.content {
    padding: 15px;
}

.content-row {
    margin-bottom: 15px;
}

.wrap {
    min-height: 128px;
}

.dashboard-small-card {
    min-height: 180px;
}

.dashboard-medium-card {
    min-height: 300px;
}