<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Financial Planner</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-3">
    <div id="accordion">
      <div class="card shadow border-left-primary mb-3" *ngFor="let category of categories; let i = index"
        [attr.data-index]="i">
        <div class="card-header" [attr.id]="i">
            <div class="row no-gutters align-items-center">
                <div class="col">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        {{ category.title }}
                        <button type="button" class="btn btn-success btn-circle float-right" data-toggle="modal" data-target="#addBudgetModal">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-success">
                      ₹ {{  1458 | indianNumberFormat }}
                    </div>
                     
                </div>
            </div>
          <div class="mb-1">
            <a class="btn font-weight-bold text-primary text-uppercase collapsed" data-toggle="collapse"
              [attr.data-target]="'#' + category.name">
              {{ category.title }}
              <p>$1458.30 / $4580.85</p>
            </a>
            <button type="submit" class="btn btn-primary float-right" data-toggle="modal"
              data-target="#addPlannerModal">
              Add
            </button>
          </div>
        </div>
        <div [attr.id]="category.name" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body p-0">
            <div class="list-group">

              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start "
                *ngFor="let item of category.items;">
                <div class="d-flex w-100 justify-content-between">
                  <!-- <h5 class="mb-1"> {{ item?.title }} </h5> -->
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.</p>
                <small>Donec id elit non mi porta.</small>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      <div class="stat-widget-1">
        <h6>Total Balance</h6>
        <h3>$ 432568</h3>
        <p>
          <span class="text-success"><i class="fi fi-rr-arrow-trend-up"></i>2.47%</span>
          Last month <strong>$24,478</strong>
        </p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      <div class="stat-widget-1">
        <h6>Total Period Change</h6>
        <h3>$ 245860</h3>
        <p>
          <span class="text-success"><i class="fi fi-rr-arrow-trend-up"></i>2.47%</span>
          Last month <strong>$24,478</strong>
        </p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      <div class="stat-widget-1">
        <h6>Total Period Expenses</h6>
        <h3>$ 25.35</h3>
        <p>
          <span class="text-danger"><i class="fi fi-rr-arrow-trend-down"></i>2.47%</span>
          Last month <strong>$24,478</strong>
        </p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      <div class="stat-widget-1">
        <h6>Total Period Income</h6>
        <h3>$ 22.56</h3>
        <p>
          <span class="text-success"><i class="fi fi-rr-arrow-trend-up"></i>2.47%</span>
          Last month <strong>$24,478</strong>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Content Row -->

<!-- Add Budget Modal-->
<div class="modal fade" id="addPlannerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="rate">Title</label>
          <input type="text" class="form-control" id="rate" placeholder="Enter rate" [(ngModel)]="form.title.value" />
        </div>
        <div class="form-group">
          <label for="rate">Description</label>
          <input type="text" class="form-control" id="rate" placeholder="Enter rate"
            [(ngModel)]="form.description.value" />
        </div>
        <div class="form-group">
          <label for="rate">Amount</label>
          <input type="text" class="form-control" id="rate" placeholder="Enter rate" [(ngModel)]="form.amount.value" />
        </div>
        <div class="form-group">
          <label for="rate">Rate</label>
          <input type="text" class="form-control" id="rate" placeholder="Enter rate" [(ngModel)]="form.rate.value" />
        </div>
        <div class="form-group">
          <label for="rate">Tenure</label>
          <input type="text" class="form-control" id="rate" placeholder="Enter rate" [(ngModel)]="form.tenure.value" />
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" type="button" data-dismiss="modal" (click)="save()">Save</a>
      </div>
    </div>
  </div>
</div>