<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Financial Planner</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-3">
    <div id="accordion">
      <div class="card shadow border-left-primary mb-3" *ngFor="let category of categories; let i = index"
        [attr.data-index]="i">
        <div class="card-header" [attr.id]="i">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <div class="h5 font-weight-bold text-primary mb-1">
                <a data-toggle="collapse" [attr.data-target]="'#' + category.name"> {{ category.title }} </a>
                <button type="button" class="btn btn-primary btn-circle float-right" data-toggle="modal"
                  data-target="#addPlannerModal" (click)="addPlanner(category)">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="text-l mb-0 font-weight-bold text-primary">
                ₹ {{ category.total | indianNumberFormat }}
              </div>

            </div>
          </div>

        </div>
        <div [attr.id]="category.name" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body p-0">
            <div class="list-group">

              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                *ngFor="let item of category?.items;">
                <div class="d-flex w-100 justify-content-between" *ngIf="item && item?.title">
                  <h5 class="mb-1">{{ item?.title }}</h5>
                  <span class="badge rounded-pill border border-primary p-2 "> Emi: {{ item.amount }} </span>
                </div>
                <small> | Amount: {{ item.amount }} | Tenure: {{ item.tenure }} | Rate Of Interest: {{ item.tenure }} |
                </small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="font-weight-bold text-primary mb-1">Assets</h5>
        <hr>
        <app-chart-google class="shadow" [options]="assetsChartOptions" [updateFlag]="updateFlag"></app-chart-google>
        <hr>
        <div class="text-l mb-0 font-weight-bold text-primary">
          Total: {{ assetsChartOptions.total || 0 | numberToWords }} <span class="float-right">₹ {{
            assetsChartOptions.total || 0 | indianNumberFormat }}</span>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="font-weight-bold text-primary mb-1">Liabilities</h5>
        <hr>
        <app-chart-google class="shadow" [options]="liabilitiesChartOptions" [updateFlag]="updateFlag"></app-chart-google>
        <hr>
        <div class="text-l mb-0 font-weight-bold text-primary">
          Total: <span class="float-right">₹ 24,478</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="font-weight-bold text-primary mb-1">Goals</h5>
        <hr>
        <app-chart-google class="shadow" [options]="goalChartOptions" [updateFlag]="updateFlag"></app-chart-google>
        <hr>
        <div class="text-l mb-0 font-weight-bold text-primary">
          Total: <span class="float-right">₹ 24,478</span>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- Content Row -->

<!-- Add Budget Modal-->
<div class="modal fade" id="addPlannerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Add </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-{{ f.value.col }}" *ngFor="let f of form | keys; index as i;">
            <app-field [field]="f.value" [key]="f.key"></app-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" (click)="save()">Save</a>
      </div>
    </div>
  </div>
</div>