<div class="course-wrapper">
    <div class="course-video">
        <video width="100%" controls>
            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    </div>
    <div class="course-tabs">
        <mat-tab-group>
            <mat-tab label="Overview">
                <div class="course-content">
                    <div class="course-body">
                        <div class="course-title-wrapper">
                            <h1 class="course-title">Graphics Design Specialization</h1>
                            <span class="author">by test</span>
                            <div class="review d-flex align-items">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <div class="course-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="course-list">
                            <ul>
                                <li class="d-flex align-items">
                                    <mat-icon class="course-icon">schedule</mat-icon>
                                    <span>25 Lessons</span>
                                </li>
                                <li class="d-flex align-items">
                                    <mat-icon class="course-icon">schedule</mat-icon>
                                    <span>Beginner level</span>
                                </li>
                                <li class="d-flex align-items">
                                    <mat-icon class="course-icon">schedule</mat-icon>
                                    <span>6 weeks</span>
                                </li>
                                <li class="d-flex align-items">
                                    <mat-icon class="course-icon">schedule</mat-icon>
                                    <span>English</span>
                                </li>
                                <li class="d-flex align-items">
                                    <mat-icon class="course-icon">schedule</mat-icon>
                                    <span>Shareable certificate</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="common-btn btn-fill">Enroll</button>
                </div>
            </mat-tab>
            <mat-tab label="Lessons">
                <div class="lessons-content course-content">
                    <div class="course-body">
                        <mat-accordion>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header class="default-font">
                                <mat-panel-title>
                                  Section 1: Fundamentals of finance
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <ul class="lessons-list">
                                <li class="d-flex align-items">
                                    <i class="fa-regular fa-circle-play"></i>
                                    <p>Images lessons</p>
                                    <span class="time">12</span>
                                </li>
                                <li class="d-flex align-items">
                                    <i class="fa-regular fa-file"></i>
                                    <p>Process</p>
                                    <span class="time">12</span>
                                </li>
                                <li class="d-flex align-items">
                                    <i class="fa-regular fa-circle-play"></i>
                                    <p>Explore</p>
                                    <span class="time">12</span>
                                </li>
                                <li class="d-flex align-items">
                                    <i class="fa-regular fa-file"></i>
                                    <p>Explore lessons</p>
                                    <span class="time">12</span>
                                </li>
                                <li class="d-flex align-items">
                                    <i class="fa-regular fa-circle-play"></i>
                                    <p>Money making</p>
                                    <span class="time">12</span>
                                </li>
                              </ul>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header class="default-font">
                                <mat-panel-title>
                                  Self aware panel
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <p>I'm visible because I am open</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Reviews">
                <div class="lessons-content course-content">
                    <div class="course-body">
                        <div class="review-count d-flex align-items">
                            <div class="review-title">
                                <p>95% Positive reviews</p>
                                <p>Total 2583 reviews</p>
                            </div>
                            <div class="review-filter">
                                <select matNativeControl class="default-font">
                                    <option value="h1">Highest rate</option>
                                    <option value="l1">Lowest rate</option>
                                    <option value="n1">Newest</option>
                                    <option value="o1">Oldest</option>
                                </select>
                            </div>
                        </div>
                        <div class="reviews">
                            <div class="review-card">
                                <mat-card class="card default-font">
                                    <mat-card-header class="default-font">
                                      <div mat-card-avatar class="example-header-image"></div>
                                      <mat-card-title>Shiba Inu</mat-card-title>
                                      <mat-card-subtitle>5 <i class="fa-regular fa-star"></i></mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                      <p>
                                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                        bred for hunting.
                                      </p>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="card default-font">
                                    <mat-card-header class="default-font">
                                      <div mat-card-avatar class="example-header-image"></div>
                                      <mat-card-title>Shiba Inu</mat-card-title>
                                      <mat-card-subtitle>5 <i class="fa-regular fa-star"></i></mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                      <p>
                                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                        bred for hunting.
                                      </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>