
div.dataTables_length {
    float: left;
    margin-right: 5px;
  }
  

  
  div.dataTables_info {
    float: left;
  }
  
  div.dataTables_paginate {
    float: right;
  }
  
  div.DTTT {
    float: left;
    margin-right: 50px;
  }
  
 

  div.dataTables_filter {
    float: right;
    /* margin-right: 5px; */
  }

  /* div.dt-buttons {
    float: right;
  } */

  .dt-buttons > .btn {
    padding: 2px 12px;
  }

  .dt-buttons > .btn.btn-secondary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
  }
  