<div [ngSwitch]="field.fieldtype">
  <div class="form-group" *ngSwitchCase="'header'">
    <h5 class="mt-1" >{{field.label}}</h5>
    <hr class="m-0">
  </div>
  <div class="form-group " *ngSwitchCase="'text'">
    <label for="{{field.name}}">{{field.label}}</label>
    <input type="{{field.fieldtype}}" class="form-control" id="{{field.name}}" placeholder="Enter {{field.label}}"
    [(ngModel)]="field.value">
    <div class="invalid-feedback" required>
      Please choose a username.
    </div>
  </div>
  <div class="form-group " *ngSwitchCase="'select'">
    <label for="{{field.name}}">{{field.label}}</label>
    <select class="form-control" id="{{field.name}}" [(ngModel)]="field.value" (ngModelChange)="triggerSelect($event)"  >
      <option value="" disabled selected>Select {{field.label}}</option>
      <option *ngFor="let option of field.options"  [value]="option.key" >{{option.value}}</option>
    </select>
    <div class="invalid-feedback" required>
      Please choose a username.
    </div>
  </div>
  <div class="form-group " *ngSwitchCase="'select-ajax'">
    <label for="{{field.name}}">{{field.label}}</label>
    <select class="form-control" id="{{field.name}}" [(ngModel)]="field.value" (ngModelChange)="triggerSelect($event)"  >
      <option value="" disabled selected>Select {{field.label}}</option>
      <option *ngFor="let option of field.options"  [value]="option.key" >{{option.value}}</option>
    </select>
    <div class="invalid-feedback" required>
      Please choose a username.
    </div>
  </div>
  <div class="form-group" *ngSwitchCase="'number'">
    <label>{{field.label}}</label>
    <input type="{{field.fieldtype}}" class="form-control" id="{{field.name}}" placeholder="Enter {{field.label}}" [(ngModel)]="field.value">
  </div>
  <div class="form-group" *ngSwitchCase="'checkbox'">
    <label>{{field.label}}</label>
    <ng-container *ngFor="let option of field.options">
      <div class="form-check">
        <input type="{{field.fieldtype}}"  id="{{field.name}}" placeholder="Enter {{field.label}}" [checked]="option.checked"   (change)="updateCheckboxValue($event, field, option)" >
        {{option.value}}
        </div>
    </ng-container>
    
  </div>
  <div class="form-group" *ngSwitchCase="'textarea'">
    <label>{{field.label}}</label>
    <textarea class="form-control" id="{{field.name}}" placeholder="Type Here" [(ngModel)]="field.value"></textarea>
  </div>
  <div class="form-group" *ngSwitchCase="'file'">
    <label>{{field.label}}</label>
    <input type="{{field.fieldtype}}" class="form-control" id="{{field.name}}" placeholder="Enter {{field.label}}" multiple="field?.multiple" (change)="handleFileInput($event, field)">
  </div>
</div>
