<div [ngSwitch]="field.fieldtype">
  <div class="form-group" *ngSwitchCase="'header'">
    <h5 class="mt-1" >{{field.label}}</h5>
    <hr class="m-0">
  </div>
  <div class="form-group " *ngSwitchCase="'text'">
    <label for="{{field.name}}">{{field.label}}</label>
    <input type="{{field.fieldtype}}" class="form-control" id="{{field.name}}" placeholder="Enter {{field.label}}"
    [(ngModel)]="field.value">
    <div class="invalid-feedback" required>
      Please choose a username.
    </div>
  </div>
  <div class="form-group" *ngSwitchCase="'number'">
    <label>{{field.label}}</label>
    <input type="{{field.fieldtype}}" class="form-control" id="{{field.name}}" placeholder="Enter {{field.label}}" [(ngModel)]="field.value">
  </div>
  <div class="form-group" *ngSwitchCase="'file'">
    <label>{{field.label}}</label>
    <input type="{{field.fieldtype}}" class="form-control" id="{{field.name}}" placeholder="Enter {{field.label}}" [(ngModel)]="field.value" (change)="handleFileInput($event, field)">
  </div>
</div>
