<!-- <div class="container-fluid d-flex"> -->
    <!-- <div class="col-70"> -->
        <!-- <button mat-raised-button>Basic</button> -->
        <!-- <mat-button (click)="getPrincipalMonthlyAmount()" >Calculate</mat-button> -->
        <!-- <ngx-datatable class="material striped " [rows]="data" [columns]="columns" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="50" [selected]="selected" [selectionType]="SelectionType.single"
            (select)='onSelect($event)'>
        </ngx-datatable> -->
    <!-- </div> -->
    <!-- <div class="col-30">
        <app-chart [options]="chartOptions" ></app-chart>
    </div> -->
    
<!-- </div> -->



<div class="container-fluid d-flex">
    <mat-card class="col-100">
        <p><button mat-raised-button color="primary" (click)="getPrincipalMonthlyAmount()" >Basic</button></p>
    </mat-card>

    <app-chart  class="col-100" [options]="chartOptions" [updateFlag]="updateFlag" ></app-chart>

</div>


<div class="container-fluid d-flex">
    <mat-card class="col-100">
        <p>blank works!</p>
    </mat-card>
</div>



