::ng-deep th.mat-header-cell {
    background-color: #00b0fb;
    color: #ffffff;
    font-size: 18px;
    border: none !important;
}

::ng-deep td.mat-cell {
    font-size: 18px;
    border: none !important;
}

::ng-deep table .mat-row:nth-child(odd){
    background-color: #ffffff;
}
        
::ng-deep table .mat-row:nth-child(even){
    background-color: #dddddd;
}

::ng-deep .select-field .mat-form-field-infix {
    width: 80px;
  }

  ::ng-deep .select-field .mat-form-field-wrapper {
    padding-bottom: 0;    
    border-radius: 20px;
    overflow: hidden;
  }

  ::ng-deep .select-field.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 0 0 15px;
  }

  ::ng-deep .select-field .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .select-field.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #00b0fb;
    color: #ffffff;
  }

  ::ng-deep .select-field .mat-select-arrow {
    border-top-color: #ffffff;
  }

  ::ng-deep .select-field.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    display: block;
    margin-right: 10px;
  }

  ::ng-deep .select-field .mat-select-value-text {
    color: #ffffff;
    font-weight: 500;
  }

  .items-select label {
    font-weight: 500;
    font-size: 18px;
    display: block;
    margin: 0;
    margin-right: 10px;
  }

  .pagination-wrapper {
    margin: 0 25px;
  }

  .pagination-wrapper button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 40px;
  }

  .pagination-wrapper button .icon {    
    font-size: 40px;
    width: 40px;
    height: 40px;
  }

  .page-list {
    padding: 0;
    margin: 0 0 0 25px;
    list-style: none;
  }

  .page-list button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background-color: #ffffff;
  }
  
  .page-list li {
    margin-right: 25px;
  }

  .page-list .active button {
    background-color: #00b0fb;
    color: #ffffff;
  }

  .pagination-details p {
    margin-bottom: 0;
    font-size: 18px;
  }