@import "../../../../assets/styles/index.scss";

.sidenav-container {
  height: 100%;
  // background-color: $color-gray;
  // padding-top: 64px;
}

.sidenav {
  // background-color: $color-primary;
  color: $color-black;
  width: 250px;
  // background: url(../../../../assets/images/06.jpg) left top no-repeat;
  box-shadow: 1px 0 7px rgba(0,0,0,0.1);

  .mat-toolbar {
    background-color: $color-primary;
    color: $color-white;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
  }

  .nav-top {
    flex-direction: column;
    padding-top: 20px;
    background: url('../../../../assets/images/profile-bg.jpg') no-repeat;
    background-size: cover;
    .username-box {
      text-align: left;
    }
    .profile-details {
      padding: 15px 10px;
      background: $color-light-gray;
      justify-content: space-between;
      margin-top: -20px;
      p {
        margin-bottom: 0;
      }
      .name {
        font-weight: 600;
        font-size: 14px;
      }
      .sub-details {
        color: #666666;
        font-size: 12px;
      }
      .divider {
        border-right: 1px solid #666666;
        width: 1px;
      }
    }
    button {
      width: 77px;
      height: 77px;
      border-radius: 50%;
      text-align: center;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      margin: 0 auto;
      margin-bottom: 10px;
      font-weight: 600;
      border: 3px solid $color-white;
      position: relative;
      z-index: 5;
      p {
        margin-bottom: 0;
      }
    }
  }

  .menu-list {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    border-top: 1px solid $color-divider;
    button {
      background: none;
      padding: 10px 25px;
      border: none;
      position: relative;
      margin-bottom: 10px;
      p {
        margin-bottom: 0;
      }
      .menu-icon {
        margin-right: 10px;
      }
      &:hover {
        .menu-icon {
          color: $color-primary;
        }
      }
    }
    .active {
      .menu-icon {
        color: $color-primary;
      }
      button {
        font-weight: 600;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          height: 100%;
          width: 3px;
          background: $color-primary;
          top: 0;
        }
      }
    }
  }

  .logout-btn {
    // background: $color-gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border: none;
    padding: 10px 25px;
    p {
      margin-bottom: 0;
    }
    .menu-icon {
      margin-right: 10px;
    }
  }
}

.collapsed {
  .sidenav {
    width: 80px;
    .nav-top {
      background: none;
      button {
        width: 60px;
        height: 60px;
      }
    }
    .menu-list {
      margin-top: 10px;
      button {
        padding: 10px 15px;
        justify-content: center;
      }
    }
    .logout-btn {
      padding: 10px 15px;
      justify-content: center;
      .menu-icon {
        margin: 0;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  // background-color: $color-gray;
  text-align: right;
}