.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.example-spacer {
  flex: 1 1 auto;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #02b1fd;
}

.mat-drawer-content {
  background-color: #eff1f7;
}

::ng-deep .mat-flat-button.mat-primary, ::ng-deep .mat-raised-button.mat-primary, ::ng-deep .mat-fab.mat-primary, ::ng-deep .mat-mini-fab.mat-primary {
  background-color: #00b0fb;
}
