<mat-sidenav-container class="sidenav-container" autosize="true" [class.collapsed]="isCollapsed">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" >{{ isCollapsed ? 'PF' : 'Personal Finance'}}</mat-toolbar>
    
    <div class="nav-top d-flex align-center">
      <button  aria-label="view profile" name="view profile" class="view-profile">
        <p class="profile__initals ani">CV</p>
      </button>
      <div class="username-box" *ngIf="!isCollapsed">
        <div class="profile-details d-flex">
          <div class="user-details">
            <p class="name">Chirag Vartak</p>
            <p class="sub-details">Senior Developer</p>
          </div>
          <div class="divider"></div>
          <div class="user-details">
            <p class="name">Member Since</p>
            <p class="sub-details">12th july, 2022</p>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-wrapper">
      <ul class="menu-list" role="list">
        <li role="list-item" class="menu-item active">
          <button class="d-flex width-100 align-items">
            <mat-icon aria-hidden="true" class="menu-icon">dashboard</mat-icon> <p  *ngIf="!isCollapsed">Dashboard</p>
          </button>
        </li>
        <li role="list-item" class="menu-item">
          <button class="d-flex width-100 align-items">
            <mat-icon aria-hidden="true" class="menu-icon">calendar_month</mat-icon> <p  *ngIf="!isCollapsed">Calendar</p>
          </button>
        </li>
        <li role="list-item" class="menu-item">
          <button class="d-flex width-100 align-items">
            <mat-icon aria-hidden="true" class="menu-icon">settings</mat-icon> <p *ngIf="!isCollapsed">Settings</p>
          </button>
        </li>
        <li role="list-item" class="menu-item">
          <button class="d-flex width-100 align-items">
            <mat-icon aria-hidden="true" class="menu-icon">notifications</mat-icon> <p  *ngIf="!isCollapsed">Notifications</p>
          </button>
        </li>
      </ul>
    </div>
    <button class="logout-btn d-flex width-100 align-items">
      <mat-icon aria-hidden="true" class="menu-icon">logout</mat-icon> <p  *ngIf="!isCollapsed">Logout</p>
    </button>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">

    <app-header [drawerRef]="drawer" [drawerChatRef]="''" [isHandset]="(isHandset$ | async)" (toSideNavToggle)="sideNavToggle($event)"></app-header>

    <router-outlet class="main"></router-outlet>
    <app-footer class="footer" fxFlexOffset="auto"></app-footer>

  </mat-sidenav-content>

 
</mat-sidenav-container>