@import "../../../../assets/styles/index.scss";

.sidenav-container {
  height: 100%;
  // background-color: $color-gray;
  // padding-top: 64px;
}

.sidenav {
  // background-color: $color-primary;
  color: $color-black;
  width: 250px;
  // background: url(../../../../assets/images/06.jpg) left top no-repeat;
  box-shadow: 1px 0 7px rgba(0,0,0,0.1);
  background: $color-primary;
  border: none;

  .mat-toolbar {
    background-color: $color-primary;
    color: $color-white;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
  }

  .nav-top {
    flex-direction: column;
    padding-top: 20px;
    background: url('../../../../assets/images/profile-bg.jpg') no-repeat;
    background-size: cover;
    .username-box {
      text-align: left;
    }
    .view-profile {
      img {
        width: 100%;
      }
    }
    .profile-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid $color-white;
      display: block;
      margin: 0 auto;      
      margin-bottom: 10px;
      position: relative;
    }
    .profile-details {
      padding: 15px 10px;
      background: $color-white;
      justify-content: space-between;
      margin-top: -20px;
      p {
        margin-bottom: 0;
        color: $color-primary;
      }
      .name {
        font-weight: 600;
        font-size: 14px;
      }
      .sub-details {
        color: #666666;
        font-size: 12px;
      }
      .divider {
        border-right: 1px solid #666666;
        width: 1px;
      }
    }
    button {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      text-align: center;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      margin: 0 auto;
      margin-bottom: 10px;
      font-weight: 600;
      border: 3px solid $color-white;
      position: relative;
      z-index: 5;
      p {
        margin-bottom: 0;
      }
    }
  }

  .profile__initals {
    font-size: 64px;
  }

  .menu-list {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    border-top: 1px solid $color-divider;
    border-bottom: 1px solid $color-divider;
    button {
      background: none;
      padding: 10px 25px;
      border: none;
      position: relative;
      margin-bottom: 10px;
      color: $color-white;
      cursor: pointer;
      p {
        margin-bottom: 0;
      }
      .menu-icon {
        margin-right: 10px;
      }
      &:hover {
        button {
          font-weight: 600;
        }
      }
    }
    .active {
      button {
        font-weight: 600;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          height: 100%;
          width: 3px;
          background: $color-white;
          top: 0;
        }
      }
    }
  }

  .logout-btn {
    // background: $color-gray;
    background: $color-primary-opacity;
    bottom: 0;
    width: 100%;
    left: 0;
    border: none;
    padding: 10px 25px;
    color: $color-white;
    cursor: pointer;
    p {
      margin-bottom: 0;
    }
    .menu-icon {
      margin-right: 10px;
    }
  }
}

.menu-wrapper {
  padding-top: 25px;
}

.collapsed {
  .sidenav {
    width: 80px;
    .nav-top {
      background: none;
      button {
        width: 60px;
        height: 60px;
      }
    }
    .menu-list {
      margin-top: 10px;
      button {
        padding: 10px 15px;
        justify-content: center;
      }
    }
    .logout-btn {
      padding: 10px 15px;
      justify-content: center;
      .menu-icon {
        margin: 0;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  // background-color: $color-gray;
  text-align: right;
  z-index: 7;
}

.footer-menu {
  margin-top: auto;
  .menu-list {
    border: none;
    padding-bottom: 0;
  }
}

::ng-deep {
  .main-sidenav {
    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
    }
  }
}


.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 7;
  background-color: $color-primary;
  left: 250px;
  width: calc(100% - 250px);
  @media(max-width: 767px) {
    left: 0;
    width: 100%;
  }
}

::ng-deep {
  .collapsed {
    .mat-toolbar.mat-primary {
      left: 80px;
      width: calc(100% - 80px);
      @media(max-width: 767px) {
        left: 0;
        width: 100%;
      }
    }
    .mat-drawer[style*="visibility: hidden"] {
      display: block;
      visibility: visible !important;
      transform: none !important;
    }
    .mat-drawer-content {
      margin-left: 80px;
    }
    .sidenav .profile__initals {
      font-size: 24px !important;
    }
  } 
}

.footer-toolbar {
  justify-content: flex-end;
  padding: 8px 15px;
  height: auto;
  span {
      font-size: 14px;
      font-weight: 600;
  }
}