<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Goal Calculator</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="form-group">
                            <label for="amount">Goal Amount</label>
                            <input type="text" class="form-control" id="amount" placeholder="Enter amount"
                                [(ngModel)]="form.amount.value" />
                            <div class="mt-1 text-l text-primary">{{ form.amount.value || 0 | numberToWords }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="rate">Rate of Return (p.a)</label>
                            <input type="text" class="form-control" id="rate" placeholder="Enter rate"
                                [(ngModel)]="form.rate.value" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tenure">Tenure (In-Years)</label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                                [(ngModel)]="form.tenure.value" />
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <div class="form-group">
                            <label for="sipAmount">SIP Amount</label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                                [(ngModel)]="form.sip.value" />
                            <div class="mt-1 text-l text-primary">{{ form.sip.value || 0 | numberToWords }}</div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tenure">Growth Rate In SIP Yearly</label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                                [(ngModel)]="form.growthRate.value" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tenure">Annual Addition Amount</label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter Annual Addition Amoun"
                                [(ngModel)]="form.additionalAmount.value" />
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary w-100" (click)="calculate()">
                    Calculate
                </button>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Goal Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <app-chart [options]="pieChartOptions" [updateFlag]="updateFlag"></app-chart>
                <!-- <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                                        style="width: 100%; height: 400px; display: block;"></highcharts-chart> -->
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow mb-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                            Total Investment
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                            {{ this.lastInvestmentData.totalMonthlyAmount || 0 | indianNumberFormat }}
                        </div>
                        <div class="text-xs mb-0 font-weight-bold text-gray-800">
                            {{ this.lastInvestmentData.totalMonthlyAmount || 0 | numberToWords }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card border-left-primary shadow mb-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                            Total Interest
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                            {{ this.lastInvestmentData.totalMonthlyInterest || 0 | indianNumberFormat }}
                        </div>
                        <div class="text-xs mb-0 font-weight-bold text-gray-800">
                            {{ this.lastInvestmentData.totalMonthlyInterest || 0 | numberToWords }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="card border-left-primary shadow mb-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                            Total Lumsum Amount
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                            {{ this.lastInvestmentData.totalExtraAmount || 0 | indianNumberFormat }}
                        </div>
                        <div class="text-xs mb-0 font-weight-bold text-gray-800">
                            {{ this.lastInvestmentData.totalExtraAmount || 0 | numberToWords }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="card border-left-primary shadow mb-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                            Total Amount
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                            {{ this.lastInvestmentData.totalAmount || 0 | indianNumberFormat }}
                        </div>
                        <div class="text-xs mb-0 font-weight-bold text-gray-800">
                            {{ this.lastInvestmentData.totalAmount || 0 | numberToWords }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <app-datatable [columns]="goalColumns" [data]="goalData"></app-datatable>
            </div>
        </div>
    </div>
</div>