<!-- Content Row -->


<div class="row">

    <!-- Pie Chart -->
    <div class="col-xl-3 col-lg-3">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">loan Calculator</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
  
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" id="amount" placeholder="Enter amount"
                        [(ngModel)]="form.amount.value" />
                </div>
                <div class="form-group">
                    <label for="rate">Rate</label>
                    <input type="text" class="form-control" id="rate" placeholder="Enter rate"
                        [(ngModel)]="form.rate.value" />
                </div>
                <div class="form-group">
                    <label for="tenure">Tenure</label>
                    <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                        [(ngModel)]="form.tenure.value" />
                </div>
                <div class="form-group">
                    <label for="tenure">EMI</label>
                    <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                        [(ngModel)]="form.emi.value" />
                </div>
                <div class="form-group">
                    <label for="tenure">Growth Rate In Emi Yearly</label>
                    <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                        [(ngModel)]="form.growthRate.value" />
                </div>
                <div class="form-group">
                    <label for="tenure">Lumsum Part Payment Yearly</label>
                    <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                        [(ngModel)]="form.additionalAmount.value" />
                </div>
                <button type="submit" class="btn btn-primary" (click)="calculate()">Submit</button>
            </div>
        </div>
    </div>
 

    

  </div>
   