<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Peaks">
        
    </mat-tab>
    <mat-tab label="Overview" class="d-flex">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="table">
            <tbody>
              <tr>
                <td>Open</td>
                <th> {{ data?.OPN }}  </th>
              </tr>
              <tr>
                <td>Preview Close</td>
                <th> {{ data?.priceprevclose }}  </th>
              </tr>
              <tr>
                <td>Volume</td>
                <th> {{ data?.VOL }}  </th>
              </tr>
              <tr>
                <td> VWAP (Lacs) </td>
                <th> {{ data['AVGP'] }}  </th>
              </tr>
              <tr>
                <td>  Beta </td>
                <th> {{ data['52L'] }}  </th>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <table class="table">
            <tbody>
              <tr>
                <td>High</td>
                <th> {{ data?.HP }}  </th>
              </tr>
              <tr>
                <td>Low</td>
                <th> {{ data?.LP }}  </th>
              </tr>
              <tr>
                <td>Upper Circuit</td>
                <th> {{ data?.upper_circuit_limit }}  </th>
              </tr>
              <tr>
                <td>Low Circuit</td>
                <th> {{ data?.lower_circuit_limit }}  </th>
              </tr>
              <tr>
                <td> 52 Week High</td>
                <th> {{ data['52H'] }}  </th>
              </tr>
              <tr>
                <td> 52 Week Low</td>
                <th> {{ data['52L'] }}  </th>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Chart">Content 2</mat-tab>
  </mat-tab-group>