<mat-toolbar style="background-color: #ebebeb;">
  <span> EMI Calculator </span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Create" (click)="createDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="3" [style.background]="'lightblue'">
    <mat-card>
      <mat-card-content>
        <ngx-datatable class="material" [rows]="rows" [columns]="columns" [sortType]="SortType.multi"
          [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10">
        </ngx-datatable>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'">
    <ngx-charts-pie-chart [results]="single" [animations]="true">
    </ngx-charts-pie-chart>
  </mat-grid-tile>
</mat-grid-list>