<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    Financial Independence Retirement Early (FIRE) Calculator
                </h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="amount">Current Age</label>
                            <input type="text" class="form-control" id="amount" placeholder="Enter amount"
                                [(ngModel)]="form.age.value" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="rate">Retirement Age</label>
                            <input type="text" class="form-control" id="rate" placeholder="Enter rate"
                                [(ngModel)]="form.retirementAge.value" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="rate">Life expectancy</label>
                            <input type="text" class="form-control" id="rate" placeholder="Enter rate"
                                [(ngModel)]="form.lifeExpectancy.value" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tenure">Current Monthly Income</label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                                [(ngModel)]="form.currentIncome.value" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tenure">Annual Income Growth </label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                                [(ngModel)]="form.currentIncomegrowth.value" />
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tenure">Current Monthly Expense</label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                                [(ngModel)]="form.currentExpense.value" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tenure">Expense Growth (Inflation) </label>
                            <input type="text" class="form-control" id="tenure" placeholder="Enter tenure"
                                [(ngModel)]="form.currentExpensegrowth.value" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="tenure">Rate of Return (p.a) on investment pre retirement
                        </label>
                        <input type="text" class="form-control" id="tenure" placeholder="Enter ROI"
                            [(ngModel)]="form.investmentRoipre.value" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="tenure">Rate of Return (p.a) on investment post retirement
                        </label>
                        <input type="text" class="form-control" id="tenure" placeholder="Enter ROI"
                            [(ngModel)]="form.investmentRoipost.value" />
                    </div>
                </div>

                    <button type="submit" class="btn btn-primary" (click)="calculate()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-lg-4 mb-4">
            <div class="card border-left-primary shadow mb-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                Monthly Income At Time Of Retirement
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                {{ result.monthlyIncomeAtRetirement || 0 | indianNumberFormat }}
                            </div>
                            <div class="text-xs mb-0 font-weight-bold text-gray-800">
                                {{ result.monthlyIncomeAtRetirement || 0 | numberToWords }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-left-primary shadow mb-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                Monthly Expense At Time Of Retirement
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                {{ result.monthlyExpenseAtRetirement || 0 | indianNumberFormat }}
                            </div>
                            <div class="text-xs mb-0 font-weight-bold text-gray-800">
                                {{ result.monthlyExpenseAtRetirement || 0 | numberToWords }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-left-primary shadow mb-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                Monthly Investment Required To Achieve Normal FIRE Corpus
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                {{ result.SIPAmount || 0 | indianNumberFormat }}
                            </div>
                            <div class="text-xs mb-0 font-weight-bold text-gray-800">
                                {{ result.SIPAmount || 0 | numberToWords }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
    
           
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-lg-4 mb-4">
            <div class="card border-left-primary shadow mb-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                Lean FIRE Retirement Corpus Required
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                {{ result.leanFireCorpusRequired || 0 | indianNumberFormat }}
                            </div>
                            <div class="text-xs mb-0 font-weight-bold text-gray-800">
                                {{ result.leanFireCorpusRequired || 0 | numberToWords }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-left-primary shadow mb-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                Normal FIRE Retirement Corpus Required
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                {{ result.normalFireCorpusRequired || 0 | indianNumberFormat }}
                            </div>
                            <div class="text-xs mb-0 font-weight-bold text-gray-800">
                                {{ result.normalFireCorpusRequired || 0 | numberToWords }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-left-primary shadow mb-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                                Fat FIRE Retirement Corpus Required
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                {{ result.fatFireCorpusRequired || 0 | indianNumberFormat }}
                            </div>
                            <div class="text-xs mb-0 font-weight-bold text-gray-800">
                                {{ result.fatFireCorpusRequired || 0 | numberToWords }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
    
           
        </div>
   
    
</div>