<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill class="login">
  <mat-card [fxFlex]="'90%'">
    <mat-toolbar color="primary">Login</mat-toolbar>
    

    <mat-card-content fxLayoutAlign="stretch" fxLayout="column" class="login-form" >
      <mat-form-field >
        <input matInput placeholder="Username"  name="username" [(ngModel)]="field.email.value" required>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Password"  type="password" [(ngModel)]="field.password.value" name="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-content>
    

  </mat-card>
</div>