<mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggle()"
      >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span> App </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
      (click)="redirect('chat')">
      <mat-icon> chat</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
      (click)="redirect('notification')">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="redirect('profile')">
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item (click)="redirect('finance')">
        <mat-icon>person</mat-icon>
        <span>My Finance</span>
      </button>
      
      <button mat-menu-item (click)="redirect('family')">
        <mat-icon>person</mat-icon>
        <span>My Family</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>