@import "../../../../../assets/styles/index.scss";

.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    z-index: 7;
    background-color: $color-primary;
    left: 250px;
    width: calc(100% - 250px);
    @media(max-width: 767px) {
      left: 0;
      width: 100%;
    }
  }

::ng-deep {
  .collapsed {
    .mat-toolbar.mat-primary {
      left: 80px;
      width: calc(100% - 80px);
      @media(max-width: 767px) {
        left: 0;
        width: 100%;
      }
    }
  }
}