<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Budget Planner</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card border-left-success shadow h-100" (click)="refreshDatatableAndChart('income')">
            <div class="card-body card-body-custom">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Income
                            <button type="button" class="btn btn-success btn-circle float-right" data-toggle="modal" data-target="#addBudgetModal" (click)="addBudget('income')">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-success">
                            ₹ {{ typeWise.income || 0 | indianNumberFormat }} <br>
                            <div class="text-xs text-success"> {{ typeWise.income || 0 | numberToWords }}</div>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{getIncomeUtilization()}}%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="h5 mb-0 font-weight-bold text-success">{{ getIncomeUtilization() + '%' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card border-left-danger shadow h-100" (click)="refreshDatatableAndChart('expense')">
            <div class="card-body card-body-custom">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Expense
                            <button type="button" class="btn btn-danger btn-circle float-right" data-toggle="modal" data-target="#addBudgetModal" (click)="addBudget('expense')">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-danger">
                            ₹ {{ typeWise.expense || 0 | indianNumberFormat }} <br>
                            <div class="text-xs text-danger"> {{ typeWise.expense || 0 | numberToWords }}</div>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{getPercentage('expense') }}%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="h5 mb-0 font-weight-bold text-danger">{{ getPercentage('expense') + '%' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card border-left-warning shadow h-100" (click)="refreshDatatableAndChart('want')">
            <div class="card-body card-body-custom">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Want
                            <button type="button" class="btn btn-warning btn-circle float-right" data-toggle="modal" data-target="#addBudgetModal" (click)="addBudget('goal')">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-warning">
                            ₹ {{ typeWise.want || 0 | indianNumberFormat }}<br>
                            <div class="text-xs text-warning"> {{ typeWise.want || 0 | numberToWords }}</div>
                        </div>

                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{getPercentage('want')}}%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="h5 mb-0 font-weight-bold text-warning">{{ getPercentage('want') + '%' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card border-left-primary shadow h-100" (click)="refreshDatatableAndChart('investment')">
            <div class="card-body card-body-custom">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Investment
                            <button type="button" class="btn btn-primary btn-circle float-right" data-toggle="modal" data-target="#addBudgetModal"  (click)="addBudget('investment')">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-primary">
                            ₹ {{ typeWise.investment || 0 | indianNumberFormat }}<br>
                            <div class="text-xs text-primary"> {{ typeWise.investment || 0 | numberToWords }}</div>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{getPercentage('investment')}}%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="h5 mb-0 font-weight-bold text-primary">{{ getPercentage('investment') + '%' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-lg-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-body">
                <app-chart-google class="shadow" [options]="chartOptions" [updateFlag]="updateFlag" ></app-chart-google>
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="card shadow mb-4">
            <div class="card-body">
                <app-datatable [columns]="budgetColumn" [data]="budgetData" (toParentDataTableDelete)="delete($event)" (toParentDataTableEdit)="edit($event)" ></app-datatable>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->


<!-- Add Budget Modal-->
<div class="modal fade" id="addBudgetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Add {{ category | titlecase  }} </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-lg-{{ f.value.col }}" *ngFor="let f of form | keys; index as i;">
                    <app-field [field]="f.value" [form]="form"  [key]="f.key"></app-field>
                  </div>
                </div>
              </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" type="button" data-dismiss="modal" (click)="save()" >Save</a>
            </div>
        </div>
    </div>
</div>