@import "../../../../../assets/styles/index.scss";

.container-fluid {
	padding: 15px;
	padding-top: 75px;
	padding-bottom: 60px;
	min-height: 100vh;
	flex-direction: row;
	@media(max-width: 767px) {
		flex-wrap: wrap;
	}
}
.mat-tab-nav-bar-budget {
    background-color: $color-secondary;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

a {
    color: $color-white;
}

.mat-tab-link {
    opacity: 1;;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #fff;
}