.income-shadow {
    box-shadow: 0 0.15rem 1.75rem 0 #1cc88a !important;
}

.danger-shadow {
    box-shadow: 0 0.15rem 1.75rem 0 #e74a3b !important;
}

.warning-shadow {
    box-shadow: 0 0.15rem 1.75rem 0 #f6c23e !important;
}

.primary-shadow {
    box-shadow: 0 0.15rem 1.75rem 0 #4e73df !important;
}