@import "../../../../../assets/styles/index.scss";

.mat-tab-nav-bar-budget-light {
    background-color: $color-secondary-light;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

a {
    color: $color-white;
}


.mat-tab-link {
    opacity: 1;;
}