<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Income Tax Planner</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div id="accordion">
          <div class="card shadow border-left-primary mb-3" *ngFor="let category of categories; let i = index"
            [attr.data-index]="i">
            <div class="card-header" [attr.id]="i">
              <div class="row no-gutters align-items-center">
                <div class="col">
                  <div class="h5 font-weight-bold text-primary mb-1">
                    <a data-toggle="collapse" [attr.data-target]="'#' + category.name"> {{ category.title }} </a>
                  </div>
                </div>
              </div>
    
            </div>
            <div [attr.id]="category.name" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body  ">
                <div class="row">
                    <div class="col-lg-{{ f.value.col }}" *ngFor="let f of category.fields | keys; index as i;">
                      <app-field [field]="f.value" [key]="f.key"></app-field>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>