<div class="container-fluid d-flex">
    <div class="container">
        <h2>Schedule Calculator</h2>
        <div class="input-container">
          <label for="start-time">Start Time:</label>
          <input type="time" id="start-time" [(ngModel)]="startTime">
        </div>
      
        <div class="input-container" *ngFor="let task of tasks; let i = index">
          <label for="task{{i}}">Task {{i + 1}}:</label>
          <input type="text" id="task{{i}}" [(ngModel)]="task.name">
          <input type="number" min="0" id="duration{{i}}" [(ngModel)]="task.duration"> minutes
        </div>
      
        <button (click)="calculateSchedule()">Calculate Schedule</button>
      
        <div *ngIf="schedule.length > 0" class="schedule-container">
          <h3>Schedule:</h3>
          <ul>
            <li *ngFor="let item of schedule">{{ item.task }}: {{ item.startTime }} - {{ item.endTime }}</li>
          </ul>
        </div>
      </div>
      
</div>

