@import "../../../../../assets/styles/index.scss";

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $color-primary;
  color: $color-white;
}