@import "../../../../../assets/styles/index.scss";

.login-container {
  display: grid;
}

.login-row {
  padding-top: 100px;
}

.invalid{
  color:#f44336;
}

.example-spacer {
  flex: 1 1 auto;
}

.login-container {
  .login {
    .title {
      margin-bottom: 5px;
    }
    .sub-title {
      font-size: 14px !important;
      font-weight: 600;
    }
  }
}

h5 {
  color: $color-white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.login-wrapper {
  min-height: 100vh;
  padding: 20px 0;
  @media(max-width: 767px) {
    padding: 0;
    padding-bottom: 20px;
  }
}

.login-container {
  width: 400px;
  margin: 0 auto;
  @media(max-width: 767px) {
    width: 90%;
    padding-top: 30px;
  }
  .login {
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
    @media(max-width: 767px) {
      padding: 15px;
    }
  }
  .social-media {
    text-align: center;
    p {
      font-size: 18px;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      span {
        width: calc(50% - 40px);
        height: 2px;
        background-color: $color-light-gray;
        margin-right: auto;
        &:nth-child(3) {
          margin-left: auto;
          margin-right: 0;
        }
      }
      i {
        font-style: normal;
        width: 80px;
        text-align: center;
      }
    }
    .btn {
      font-size: $text-lg;
      line-height: 1;
      border: 1px solid $color-border;
      color: $color-primary;
      border-radius: 50%;
      padding: $space-sm;
      position: relative;
      z-index: 5;
      background: #ffffff;
      & + .btn {
        margin-left: $space-sm;
      }
    }
  }
  .form-group {
    margin-bottom: 15px;
    label {
      display: block;
      margin-bottom: 5px;
    }
  }
  .form-action {
    margin-bottom: 20px;
  }
}

.title {
  font-weight: 600;
}

.common-btn {
  padding: 12px 25px;
  border-radius: 8px;
  color: $color-white;
  cursor: pointer;
  &.btn-fill {
    background: $color-primary;
    border: none;
    &:hover, &:focus {
      background: $color-primary-dark;
    }
  }
}

.text-secondary {
  &:hover, &:focus {
    color: $color-primary;
  }
}

.login-btn {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

::ng-deep {
  .form-group {
    .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
      background-color: $color-primary;
    }
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: $color-primary;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick, .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: $color-primary;
    }
    .mat-radio-label {
      margin-right: 10px;
    }
    input {
      line-height: 1.2em;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-subscript-wrapper {
      position: relative;
    }
    .mat-form-field {
      display: block;
    }
    .mat-error {
      font-size: 13px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
      border-top: 3px solid transparent;
    }
    &.datepicker {
      .mat-form-field-infix {
        padding: 3px 0;
        display: inline-flex;
      }
    }
  }
  
}