<nav mat-tab-nav-bar class="mat-tab-nav-bar-budget-light">
    <a 
        mat-tab-link
        *ngFor="let tab of tabs"
        [routerLink]="tab.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive"
    >
        {{ tab.label }}
    </a>
</nav>
<router-outlet></router-outlet>

<!-- <div class="content container">
    <div fxLayout="row wrap" fxLayoutGap="15px">
        <mat-card class="small-card-square" fxFlex.sm="50%" *ngFor="let tab of tabs" routerLink="{{tab.link}}">
            {{ tab.label }}
        </mat-card>
    </div>
</div>

<router-outlet></router-outlet> -->
