<div>
  <label>{{ label }}</label>
  <div *ngFor="let option of options; let i = index">
    <mat-checkbox (change)="onCheckboxChange($event, option)" [value]="option.key">{{ option.value }}</mat-checkbox>
    <br>
    <mat-form-field appearance="fill" class="custom-form-control " *ngIf="option.checked">
      <label>{{ option.value }} Amount</label>
      <input matInput [(ngModel)]="option.input" (ngModelChange)="onCheckboxInputChange($event, option)">
      <mat-error>
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </div>
  <mat-error *ngIf=" isFieldValid()">
    {{ getErrorMessage() }}
  </mat-error>
</div>