
<div class="row">
  <ng-container *ngFor="let field of fields" [ngSwitch]="field.type">
    <div *ngSwitchCase="'text'" class="col-{{field.col}}">
      <app-field-input  [field]="field"></app-field-input>
    </div>
    <div *ngSwitchCase="'select'" class="col-{{field.col}}">
      <app-field-select  [field]="field"></app-field-select>
    </div>
    <div *ngSwitchCase="'date'" class="col-{{field.col}}">
      <app-field-datetime  [field]="field"></app-field-datetime>
    </div>
    <div *ngSwitchCase="'radio'" class="col-{{field.col}}">
      <app-field-radio  [field]="field"></app-field-radio>
    </div>
    <div *ngSwitchCase="'checkbox'" class="col-{{field.col}}">
      <app-field-checkbox [field]="field"></app-field-checkbox>
    </div>
    <div *ngSwitchCase="'file'" class="col-{{field.col}}">
      <app-field-file  [field]="field"></app-field-file>
    </div>
    <div *ngSwitchCase="'textarea'" class="col-{{field.col}}">
      <app-field-textarea  [field]="field"></app-field-textarea>
    </div>
  </ng-container>
</div>