@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./styles/index.scss";

body { 
    margin: 0;
    padding: 0;
    background-color: #f3f3f4;

    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.container {
    display: flex;
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px;
    // gap: 15px;
    // margin: 15px;
}


.col-70 {
    padding: 5px 0px 5px 0px;
    width: 70%;
    background-color: #03D29F;
}

.col-30 {
    padding: 5px 0px 5px 0px;
    width: 30%;
    background-color: #50A7FF;
}

.card-sm {
    background-color: #03D29F;
    position: relative;
    flex: 1;
    flex-grow: 1;
    min-width: 400px;
    // max-width: 400px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.card-md {
    background-color: #50A7FF;
    position: relative;
    flex: 1;
    flex-grow: 1;
    // max-width: 460px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}



.card-lg {
    background-color: #FF7675;
    position: relative;
    flex: 1;
    flex-grow: 1;
    // max-width: 460px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}