<!-- Content Row -->


<div class="row">

  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Routine</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">

              <div class="form-group">
                  <label for="amount">Start Time</label>
                  <input type="time" class="form-control" id="amount" placeholder="Enter amount"
                  [(ngModel)]="form.dayStartTime.value"/>
              </div>
              <button type="submit" class="btn btn-primary" (click)="calculate()">Submit</button>
          </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Add Task</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">

          <div class="form-group">
            <label for="amount">Title</label>
            <input type="text" class="form-control" id="amount" placeholder="Enter amount"
                [(ngModel)]="form.title.value" />
        </div>
        <div class="form-group">
          <label for="amount">Duration</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter amount"
              [(ngModel)]="form.duration.value" />
      </div>  
          <div class="form-group">
                <label for="amount">Start Time</label>
                <input type="text" class="form-control" id="amount" placeholder="Enter amount"
                    [(ngModel)]="form.startTime.value" />
            </div>
            
        </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Routine Pie Chart</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <app-chart [options]="pieChartOptions" [updateFlag]="updateFlag"></app-chart>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Routine Overview</h6>
           
      </div>
          <!-- Card Body -->
          <div class="card-body">
              <app-datatable [columns]="columns" [data]="schedule"></app-datatable>
          </div>
      </div>
  </div>
</div>