<mat-stepper [orientation]="orientation" [linear]="isLinear" #stepper>
  <ng-container *ngFor="let step of steps; let index = index">
    <mat-step [label]="step.title" [stepControl]="formGroups[index]"  >
      <form [formGroup]="formGroups[index]">
        <div *ngFor="let f of step.fields | keys; index as i">
          <app-dynamic-field [field]="f.value" [form]="formGroups[index]"></app-dynamic-field>
        </div>
      </form>
      <div>
        <button mat-button *ngIf="index > 0" (click)="prevStep()">Back</button>
        <button mat-button *ngIf="!isLastStep()" (click)="nextStep()">Next</button>
        <button mat-button *ngIf="isLastStep()" [disabled]="!formGroups[index].valid">Finish</button>
      </div>
    </mat-step>
  </ng-container>
</mat-stepper>