.d-flex {
    display: flex;
}

.d-wrap {
    flex-wrap: wrap;
}

.d-nowrap {
    flex-wrap: nowrap;
}

.d-row {
    flex-direction: row;
}

.d-row-reverse {
    flex-direction: row-reverse;
}


.d-column {
    flex-direction: column;
}

.d-grow {
    flex-grow: 1;
}

.d-gap-15 {
    gap: 15px;
}

.align-item-center {
    align-items: center;
}


.align-item-right {
    align-items:flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-auto {
    flex: 1 1 auto;
}


.row {
    padding: 15px;
}



.col-70 {
    flex: 1 1 69%;
}

.col-50 {
    width: 50%;
}



.col-25 {
    flex: 1 1 24%;
}


.w-70 {
    width: 70%;
}


.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}