<div class="container" fxLayout="row wrap" fxLayoutAlign="space-between ">
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
    <mat-card>Sample Card</mat-card>
</div>