<div class="container-fluid">
    <div class="row">
      <div class="col-70">
        <mat-card class="col-100 card-md">Sample Card</mat-card>
        <mat-card class="col-50">
          <mat-card-header>
            <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
            <mat-card-title> Sample Title </mat-card-title>
            <mat-card-subtitle> Sample Description </mat-card-subtitle>
            <div fxFlex></div>
            <div style="flex-grow: 1"></div>
            <button mat-icon-button>
              <mat-icon>qr_code</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-header>
        </mat-card>
        <mat-card class="col-50">
          <mat-card-header>
            <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
            <mat-card-title> Sample Title </mat-card-title>
            <mat-card-subtitle> Sample Description </mat-card-subtitle>
            <div fxFlex></div>
            <div style="flex-grow: 1"></div>
            <button mat-icon-button>
              <mat-icon>qr_code</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-header>
        </mat-card>
        <mat-card class="col-50">
          <mat-card-header>
            <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
            <mat-card-title> Sample Title </mat-card-title>
            <mat-card-subtitle> Sample Description </mat-card-subtitle>
            <div fxFlex></div>
            <div style="flex-grow: 1"></div>
            <button mat-icon-button>
              <mat-icon>qr_code</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-header>
        </mat-card>
        <mat-card class="col-50">
          <mat-card-header>
            <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
            <mat-card-title> Sample Title </mat-card-title>
            <mat-card-subtitle> Sample Description </mat-card-subtitle>
            <div fxFlex></div>
            <div style="flex-grow: 1"></div>
            <button mat-icon-button>
              <mat-icon>qr_code</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-header>
        </mat-card>
        <mat-card class="col-100 card-lg ">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-30">
        <mat-card class="col-100 card-md">Sample Card</mat-card>
        <mat-card class="col-100 card-lg">
          <mat-card-header>
            <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
            <mat-card-title> Sample Title </mat-card-title>
            <mat-card-subtitle> Sample Description </mat-card-subtitle>
            <div fxFlex></div>
            <div style="flex-grow: 1"></div>
            <button mat-icon-button>
              <mat-icon>qr_code</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>