<div class="container-fluid">
  <div class="row">
    <div class="col-70">
      <mat-card class="col-100 card-md">Sample Card</mat-card>
      <mat-card class="col-50">
        <mat-card-header>
          <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
          <mat-card-title> Sample Title </mat-card-title>
          <mat-card-subtitle> Sample Description </mat-card-subtitle>
          <div fxFlex></div>
          <div style="flex-grow: 1"></div>
          <button mat-icon-button>
            <mat-icon>qr_code</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
      <mat-card class="col-50">
        <mat-card-header>
          <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
          <mat-card-title> Sample Title </mat-card-title>
          <mat-card-subtitle> Sample Description </mat-card-subtitle>
          <div fxFlex></div>
          <div style="flex-grow: 1"></div>
          <button mat-icon-button>
            <mat-icon>qr_code</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
      <mat-card class="col-50">
        <mat-card-header>
          <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
          <mat-card-title> Sample Title </mat-card-title>
          <mat-card-subtitle> Sample Description </mat-card-subtitle>
          <div fxFlex></div>
          <div style="flex-grow: 1"></div>
          <button mat-icon-button>
            <mat-icon>qr_code</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
      <mat-card class="col-50">
        <mat-card-header>
          <mat-icon mat-card-avatar [style.font-size.px]="24" style="border: 1px solid black"></mat-icon>
          <mat-card-title> Sample Title </mat-card-title>
          <mat-card-subtitle> Sample Description </mat-card-subtitle>
          <div fxFlex></div>
          <div style="flex-grow: 1"></div>
          <button mat-icon-button>
            <mat-icon>qr_code</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
      <div class="col-100 d-flex d-wrap d-gap-15">
        <mat-card class="w-px-300">
          <mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            
          </mat-card-header>

          <mat-card-header>
            
            <mat-card-title> Sample Title </mat-card-title>
            <mat-card-subtitle> Sample Description </mat-card-subtitle>
            
          </mat-card-header>
          <mat-card-actions class="d-flex justify-content-end">
            <button mat-raised-button color="primary">Take Course</button>
          </mat-card-actions>
          
        </mat-card>

        <mat-card class="w-px-300">
          <mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            
          </mat-card-header>

          <mat-card-header>
            
            <mat-card-title> Sample Title </mat-card-title>
            <mat-card-subtitle> Sample Description </mat-card-subtitle>
            
          </mat-card-header>
          <mat-card-actions class="d-flex justify-content-end">
            <button mat-raised-button color="primary">Take Course</button>
          </mat-card-actions>
          
        </mat-card>

        <mat-card class="w-px-300">
          <mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            
          </mat-card-header>

          <mat-card-header>
            
            <mat-card-title> Sample Title </mat-card-title>
            <mat-card-subtitle> Sample Description </mat-card-subtitle>
            
          </mat-card-header>
          <mat-card-actions class="d-flex justify-content-end">
            <button mat-raised-button color="primary">Take Course</button>
          </mat-card-actions>
          
        </mat-card>
        
      </div>
    </div>
    <div class="col-30 ">
      <mat-card >
        <mat-card-header>
          <mat-card-title> insurance </mat-card-title>
          <mat-card-subtitle>  Learn more on the life, health and other Insurence  </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list" class="card-sm-list" >
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle> Item 1 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 2 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 3 </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card >
        <mat-card-header>
          <mat-card-title> insurance </mat-card-title>
          <mat-card-subtitle>  Learn more on the life, health and other Insurence  </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list" class="card-sm-list" >
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle> Item 1 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 2 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 3 </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-card >
        <mat-card-header>
          <mat-card-title> insurance </mat-card-title>
          <mat-card-subtitle>  Learn more on the life, health and other Insurence  </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list" class="card-sm-list" >
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle> Item 1 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 2 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 3 </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card >
        <mat-card-header>
          <mat-card-title> insurance </mat-card-title>
          <mat-card-subtitle>  Learn more on the life, health and other Insurence  </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list" class="card-sm-list" >
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle> Item 1 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 2 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 3 </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card >
        <mat-card-header>
          <mat-card-title> insurance </mat-card-title>
          <mat-card-subtitle>  Learn more on the life, health and other Insurence  </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list" class="card-sm-list" >
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle> Item 1 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 2 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 3 </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card >
        <mat-card-header>
          <mat-card-title> insurance </mat-card-title>
          <mat-card-subtitle>  Learn more on the life, health and other Insurence  </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list" class="card-sm-list" >
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle> Item 1 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 2 </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>folder</mat-icon> 
              <div matListItemTitle> Item 3 </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

     
      
    </div>
  </div>
</div>