<div class="content">
    <div class="content-row" fxLayout="column " fxLayoutGap="15px" >
        <div *ngFor="let item of data">
            <div [fxFlex]="'100%'" >
                <mat-card class="expense-common-card">
                    <mat-card-header>
                        <mat-icon mat-card-avatar [style.font-size.px]="24" class="expense-icon">home</mat-icon>
                        <mat-card-title> {{ item.title }}  </mat-card-title>
                        <mat-card-subtitle>   {{ item.description || 'description' }}   </mat-card-subtitle>
                        <div fxFlex></div>
                        <div style="flex-grow: 1"></div>
                        <span class="currency-amount">{{ item.amount | currency:"&#8377; "}}</span>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</div>