<div class="container-fluid">
  <div class="row align-items-center p-2">
    <div class="col-4">
      <div class="form-control-layout">
        <h2>Vehicle</h2>
      </div>
    </div>
    <div class="col-8 d-flex justify-content-end">
      <!-- <div class="form-control-layout">
        <mat-form-field  appearance="outline" class="mr-2">
          <input matInput type="text" placeholder="search" >
          <button  matSuffix mat-icon-button aria-label="Clear" >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        </div> -->
      <div class="form-control-layout">
        <!-- <mat-form-field  appearance="outline" class="mr-2">
          <input matInput type="text" placeholder="Filter" >
          <button  matSuffix mat-icon-button aria-label="Clear" >
            <mat-icon>close</mat-icon>
          </button>
          </mat-form-field> -->
        <button mat-fab color="primary" class="mr-2"  aria-label="Example icon button with a delete icon" (click)="action('create', null)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="warn"  class="mr-2" aria-label="Example icon button with a filter list icon">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mr-2" [(ngModel)]="data.view">
        <mat-button-toggle value="datatable">
          <mat-icon>menu</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="card">
          <mat-icon>grid_on</mat-icon>
        </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <!-- <div class="form-control-layout">
        <mat-form-field  appearance="outline" class="mr-2">
          <mat-label>Sort By</mat-label>
          <mat-select >
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        </div> -->
      <!-- <div class="form-control-layout toggle-layout">
        <button mat-raised-button  color="primary" class="mr-2 vehicle-btn">+ Add Vehicle</button>
        </div>
        <div class="form-control-layout toggle-layout">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mr-2" [(ngModel)]="data.view">
        <mat-button-toggle value="datatable">
          <mat-icon>menu</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="card">
          <mat-icon>grid_on</mat-icon>
        </mat-button-toggle>
        </mat-button-toggle-group>
        </div> -->
    </div>
  </div>
  <div *ngIf="data.view === 'card'">
    <app-card></app-card>
  </div>
  <div *ngIf="data.view === 'datatable'">
    <app-datatable></app-datatable>
  </div>
  <div class="row align-items-center p-2"  *ngIf="data.view === 'create'">
    <mat-card class="col-12">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-form [fields]="getFields()"></app-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" color="warn" >Cancel</button>
        <button mat-raised-button color="primary" color="primary" >Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>