<div class="container-fluid" >
  <div class="row align-items-center p-2">
    <div class="col-4">
      <div class="form-control-layout">
        <h2>{{ data.label }}</h2>
      </div>
    </div>
    <div class="col-8 d-flex justify-content-end">
      <div class="form-control-layout">
        <button mat-fab color="primary" class="mr-2"  [routerLink]="data.urls.create" >
          <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="warn"  class="mr-2" aria-label="Example icon button with a filter list icon">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" >
          <mat-button-toggle value="datatable" [routerLink]="data.urls.datatable">
            <mat-icon>menu</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="card" [routerLink]="data.urls.card">
            <mat-icon>grid_on</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  
</div>