@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../../node_modules/sweetalert2/src/sweetalert2.scss';
@import 'ngx-toastr/toastr';
// @import "../../node_modules/angular-calendar/css/angular-calendar.css";
@import "./styles/index.scss";

body { 
    margin: 0;
    padding: 0;
    background-color: #f3f3f4;

    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.ngx-toastr {
  background-color: $color-black;
}


.container-fluid{
    display: flex;
    flex-direction: column;
    // height: 100vh;
  }
  
  .row{
    display: flex;
    gap: 15px;
    padding: 15px;
    // flex-direction: row;
    flex-flow: row wrap;
  }

  

  
  .col-100 {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .col-40 {
    flex-basis: 35%;
    flex-grow: 1;
  }
  
  .col-60 {
    flex-basis: 55%;
    flex-grow: 1;
  }

  .col-30 {
    flex-basis: 25%;
    flex-grow: 1;

    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    flex-direction: column;

  }
  
  .col-70 {
    display: flex;
    flex-basis: 65%;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: row;
  }

  .col-50 {
    flex-basis: 45%;
    flex-grow: 1;
  }


  .w-px-250 {
    width: 250px;
  }

  .w-px-300 {
    width: 300px;
    flex-grow: 1;
  }


.card-sm {
    background-color: #03D29F;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.card-md {
    background-color: #50A7FF;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}



.card-lg {
    background-color: #FF7675;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}